* {
  box-sizing: border-box;
  padding: 0;
}

.container {
  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    padding: 5px;

    &-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

      &__item {
        padding: 0 5px 5px 5px;
        display: flex;
      }

      &__item:hover {
        background-color: #ccc;
        cursor: pointer;
      }

      &__item:active {
        background-color: #ccc;
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
    }

    &-menu {
      margin: 0;
      overflow-y: scroll;
      height: 370px;
      display: flex;
      flex-direction: column;

      &-item {
        padding: 5px 5px 0 5px;
        box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
        cursor: pointer;
      }
    }
  }

  &-search-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    overflow-y: scroll;
    max-width: 290px;
    width: 100%;
    max-height: 430px;

    &__item {
      height: 25px;
      width: 100%;
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    }
  }
}

.flag-container {
  display: flex;
  width: 25px;
}
