.main {
  .container {
    display: grid;
    grid-template-rows:  auto 300px; /* 2 строки */
    grid-template-columns: 230px auto 230px; /* 3 столбца */
    width: calc(100vw - 20px);
    margin: 0 auto;
    //height: calc(100vh - 160px);
    &-full-screen {
      display: flex;
    }
    min-width: $viewport--sm - 20px;
    
    @include viewport--sm {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}