.main {
  background-color: $color-dark-green;
  .container {
    display: grid;
    grid-template-rows:  auto 340px; /* 2 строки */
    grid-template-columns: 230px auto 230px; /* 3 столбца */
    width: calc(100vw - 20px);
    //height: calc(100vw - 130px);
    margin: 0 auto;
    padding-top: 10px;
    min-width: $viewport--sm - 20px;
    
    @include viewport--sm {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &.container-full-screen {
      display: flex;
    }
  }
}