.map-switches {
  margin-bottom: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 0 $color-purple;

  &__left,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 0 $color-purple;
    color: inherit;
    outline: none;
  }

  &__left:hover,
  &__right:hover {
    background-color: $color-dark-red;
  }

  &__left:active,
  &__right:active {
    background-color: $color-dark-xl-red;
  }
}
