.map-container {
  //width: 800px;
  grid-row: 1;
  grid-column: 2;


  &.fullscreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display:none;
    left: 0;
    top: 0;
  }

  @include viewport--sm {
    order: 3;
    width: 100%;
  }
}